// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$display-font-family: 'Lexend', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$blue-1: #CAF0F8;
$blue-2: #90E0EF;
$blue-3: #00B4D8;
$blue-4: #0077B6;
$blue-5: #03045E;

$blue: #00B4D8;
$red: #fa0606;
$green: #15ce7b;